/* body{
    background-color: #373640;
}
.judul{
    color : #a7d129;
}
.status h4{
    color: #7e97a6;
}
.status p,h2{
    color : #63686e;
}

label{
    display : none !important;
}

#submit{
    background-color: #a7d129 ;
    color : #373640;
    font-weight: 700;
} */
body{
    margin : 0;
    padding : 0;
    background-color: #F6F5F3
}
button{
    padding :10px;
    background : #fff;
    border: none;
    font-size: 18px;

}
.about{
    display: flex;
    flex-direction: column;
    
}
.nama{
    display: flex;
    justify-content: center;
    font-family: "Montserrat",sans-serif;
    font-style: italic;
    font-size: 35px;
    line-height: 88px;
    color: #3D3D3F;

}
.isiAbout{
    padding-left: 4%;
    /* display:flex;
    flex-direction: row; */
    margin: auto;
    width : 1200px;
    height : 241px;
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-size: 22px;
    line-height: 29px;
    color: #3D3D3F;
}