{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="{% static 'jqueryui/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'jqueryui/jquery-ui.structure.css' %}">
    <link rel="stylesheet" href="{% static 'jqueryui/jquery-ui.theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">


    
    <title>Story 7</title>
</head>
<body>
    <!-- <div class = judul>
        <h1>Apa kabar?</h1>
    </div>
    
    <form method = "POST">
        {% csrf_token %}
        {{form}}
        <input id="submit" type="submit" value="Submit">
    </form>
    <div class = status>
        {% for obj in posts %}
            <h4>{{ obj.message }}</h4>
            <p>Diposting pada {{ obj.date }}<p>
            <h2>-----------------------------</h2>
            <br>
        {% endfor %}
    </div> -->
    <div class = "about"> 
        <div class = "nama">
            <h1>Marandi Efendi</h1>
        </div>
        <div class = "isiAbout">
            <div id = "muke">
                <h3>Aktivitas</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis blanditiis cum ratione molestias quae, facere praesentium earum pariatur, labore inventore modi itaque minus neque, placeat esse suscipit enim! Ipsam, recusandae.</p>
        
                <h3>Pengalaman Organisasi / Kepanitiaan</h3>
                <ul>
                    <li>Decoration Staff, Computers Get Together</li>
                    <li>Decoration and Costume Staff , COMPFEST</li>
                    <li>Liaison Officer Staff, Open House Fasilkom UI</li>
                    <li>Decoration PIC, Pesta Rakyat Komputer</li>
                    <li>Kontingen Teater CSUI</li>
                </ul>
        
                <h3>Prestasi</h3>
                <!-- <p>JUARA 1 MELANGGAR PERINTAH ALLAH</p> -->
                <img src = "{% static 'juara1.jpg' %}">
               
            </div>
            <button>CHANGE THEME</button>
            </div>
            
        </div>
    </div>
    
            
    
    <script src = "{% static 'jquery-3.4.1.js' %}" type= "text/javascript"></script>
    <script src = "{% static 'jqueryui/jquery-ui.js' %}" type="text/javascript"></script>
    <script src = "{% static 'script.js' %}"></script>

</body>
</html>